@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,300italic);

/*Home page*/

	/*Home page header*/
	#subbody > header {
		min-height: 70px;
		padding-top: 39px;
	}
	#subbody > header hgroup {
		float: left;
		margin-top: -30px;
	}
	header h1 {
		font-size: 72px;
		line-height: 100px;
		/*text-shadow: 0 -1px 0px rgba(0,0,0,0.5), 0 1px 0px rgba(255,255,255,0.4);*/
	}
	header img {
		padding-top: 10px;
		height: 80px;
		vertical-align: top;
	}
	header nav {
		float: right;
		font-size: 1.7em;
	}
	header nav .menu-item {
		float: left;
		position: relative;
		line-height: 80px;
	}
	header nav .sub-menu {
		position: absolute;
		display: none;
		width: 250px;
		top: 60px;
		right: 24px;
		background: rgba(51,51,51,0.95);
		border: 1px solid #DDD;
		z-index: 10002;
	}
	header nav .menu-item:hover .sub-menu, header nav .sub-menu:hover {
		display: block;
	}

	/*Home page content*/
	#wrapper {
		width: 80%;
		min-width: 1100px;
		max-width: 1290px;
		margin: 0 auto;
		position: relative;
		padding: 0 42px;
		
		overflow: hidden;
	}

	#featured {
		font-size: 1.5em;
		margin: 1em 0;
		position: relative;
	}
	
	#featured-left-col {
		width: calc(33.33333333% - 5px);
		float: left;
	}
	
	#featured-slideshow,#featured-tagline {
		width: calc(66.66666667% - 5px);
		margin-left: 10px;
		float: left;
		
	}
	
	
	#featured-in {
		padding-top: 10px;
		clear: left;
	}

	#featured-tagline {
		width: calc(66.66666667% - 25px);
		padding: 10px;
		
		background: #FF7700;
		margin-bottom: 10px;
		padding: 10px;
		height: 30px;
		color: #FFF;
	}
	#featured-slideshow {
	    background: #000;
		height: 300px;
		overflow: hidden;
	}
	
	#featured-login {
		color: #FFF;
	}
	
	#featured-social {
		position: absolute;
		width: 32px;
		left: -42px;
	}

	#featured h2 {
		font-size: 1.5em;
		color: #444;
		text-indent: 0;
	}

	#subbody>footer {
		border-top: 0 none;
	}
	
	/*Home page footer widgets*/
	
	/*Debug borders*/
	/*#bottom {
		outline: 1px solid red;
	}
	#bottom>div {
		outline: 1px solid blue;
	}
	
	#bottom>div.unhover {
		outline: 1px solid #FF8;
	}
	
	#bottom>div>div {
		outline: 1px solid #0F0;
	}
	#bottom aside{
		outline: 1px solid #F0F;
	}*/
	
	#bottom {
		margin-top: 1.5em;
		height: 100px;
	}
	#bottom>div>div {
		border-right: 1px solid #ddd;
	}

	#bottom>div {
		width: 33.3333333%;
		position: absolute;
		z-index: 10000;
	}
	#bottom>div:nth-child(2) {
		left: 33.3333333%;
	}
	#bottom>div:nth-child(3) {
		left: 66.6666666%;
	}

	#bottom>div>div {
		margin: 0 0.5em;
		
		height: 100px;
	}
	#bottom>div>div h3 {
		font-size: 1.5em;
	}
	#bottom .textwidget aside {
		display: none;
	}
	#bottom>div:first-child>div {
		margin-left: 0;
	}
	#bottom>div:last-child>div {
		margin-right: 0;
		border-right: 0;
	}
	#bottom div.title {
		padding: 5px;
		font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
		font-weight: bold;
		font-size: 50pt;
		color: #4AA4E0;
		text-align: center;
		
		padding-top: 40px;
		
		transition: font-size 0.3s;
		-moz-transition: font-size 0.3s;
		-webkit-transition: font-size 0.3s;
		-o-transition: font-size 0.3s;
	}
	
@media(min-width: 635px) {
	#bottom>div.selected div.title {
		display: none;
	}

	/*Home page footer widget hovers*/
	#bottom>div.selected {
		transition-duration: 0.5s;
		-moz-transition-duration: 0.5s;
		-webkit-transition-duration: 0.5s;
	
		transition-property: background, height, width, margin, padding, left, border;
		-moz-transition-property: background, height, width, margin, padding, left, border;
		-webkit-transition-property: background, height, width, margin, padding, left, border;		
	
		position: absolute;
		z-index: 9000;
		left: 0;
		width: 100%;

		margin: 0;
		margin-top: -360px;
		margin-top: calc(-360px - 1.5em);
		margin-top: -moz-calc(-360px - 1.5em);
		margin-top: -webkit-calc(-360px - 1.5em);
		
		height: 460px;
		height: calc(460px + 1.5em);
		height: -moz-calc(460px + 1.5em);
		height: -webkit-calc(460px + 1.5em);
	}
	#bottom>div.selected>div {
		border: medium none; /*1px solid #ddd;*/
		/*padding: 8px;*/
		background-color: rgba(255,255,255,0.95);
		margin: 0;
		height: 460px;
		height: calc(460px + 1.5em);
		height: -moz-calc(460px + 1.5em);
		height: -webkit-calc(460px + 1.5em);
		
	}
	#bottom>div.selected .textwidget aside {
		display: block;
	}
}

/*
 * At medium-small widths, the padding on the side of the layout goes away
 * and the layout starts scaling
 */
@media(max-width: 1100px) {
	#wrapper {
		width: 100%;
		padding-right: 0;
		width: calc(100% - 42px);
		width: -moz-calc(100% - 42px);
		width: -webkit-calc(100% - 42px);
		min-width: 400px;
	}
	
}

@media(max-width: 960px) {
	#mainnav {
		padding: 0 0 10px;
	}
	
	#featured-left-col {
		width: 220px;
	}
	#featured-slideshow {
		width: calc(100% - 230px);
	}
	#featured-tagline {
		width: calc(100% - 250px);
	}
	
	#bottom div.title {
		font-size: 40pt;
	}
}

@media(max-width: 760px) {
	#bottom div.title {
		font-size: 30pt;
	}
}



/*
 * At even smaller widths, things shift to become vertical.
 */
@media(max-width: 750px) {
	#featured-left-col,#featured-tagline,#featured-slideshow {
		width: auto;
		float: none;
		margin-left: 0;
	}
	
	#featured-tagline {
		height: auto;
		white-space: normal !important;
	}
	
	#featured-social {
		position: static;
		width: auto;
	}
	#wrapper {
		width: 100%;
		padding: 0;
	}
	
	#bottom {
		height: auto;
	}
	#bottom>div {
		width: 100%;
		position: static !important;
		margin-top: 0 !important;
	}
	#bottom>div>div {
		margin: 0;
		border-bottom: 1px solid #ddd;
		min-height: 100px;
		padding: 8px;
	}
	#bottom div.title {
		font-size: 40pt;
	}
}

.company-profile-shortcode {
	
}
.company-profile-shortcode >li {
	width: 33%;
	width: -moz-calc(33% - 8px);
	width: -webkit-calc(33% - 8px);
	width: calc(33% - 8px);
	padding-left: 4px;
	padding-right: 4px;
	float: left;
	border-right: 1px solid #ddd;
}
.company-profile-shortcode >li:last-child {
	border-right: 0 none;
}
.company-profile-shortcode >li>img {
	float: none !important;
	display: block;
	margin: 0 auto;
	max-width: 100px;
	max-height: 100px;
}
.company-profile-shortcode >li>h3 {
	clear: both;
}

