@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,300italic);

/*Home page*/

	/*Home page header*/
	header {
		height: 100px;
		border-bottom: 1px solid #DDD;
	}
	header hgroup {
		float: left;
	}
	header h1 {
		font-size: 72px;
		line-height: 100px;
		color: #555;
		text-shadow: 0 -1px 0px rgba(0,0,0,0.5), 0 1px 0px rgba(255,255,255,0.5);
	}
	header img {
		padding-top: 10px;
		height: 80px;
		vertical-align: top;
	}
	header nav {
		float: right;
		font-size: 1.7em;
	}
	header nav .menu-item {
		float: left;
		position: relative;
		line-height: 80px;
	}
	header nav .sub-menu {
		position: absolute;
		display: none;
		width: 250px;
		top: 60px;
		right: 24px;
		background: rgba(255,255,255,0.95);
		border: 1px solid #DDD;
		z-index: 10002;
	}
	header nav .menu-item:hover .sub-menu, header nav .sub-menu:hover {
		display: block;
	}
	header nav .sub-menu li {
		float: none;
		display: block;
	}
	header nav .sub-menu li a {
		display: block;
		border-bottom: 1px solid #DDD;
		font-size: 0.9em;
		line-height: 1em;
		padding: 0.5em 0.1em;
	}
	header nav .sub-menu li:last-child a {
		border: 0 none;
	}
	header nav .sub-menu li:after {
		padding: 0;
		content: '';
	}
	body.page-template-featured-php header a {
		color: #555;
		text-decoration: none;
	}
	body.page-template-featured-php header a:hover {
		color: #5BF;
	}
	header nav li:after {
		content: "|";
		padding: 0 8px;
	}
	header nav li:last-child:after {
		content: '';
	}

	/*Home page content*/
	#wrapper {
		width: 80%;
		min-width: 1100px;
		max-width: 1290px;
		margin: 0 auto;
		position: relative;
		padding: 0;
	}
	#wrapper>*,#bottom>div>div {
		background: #FFF;
	}

	#featured {
		font-size: 1.5em;
		margin: 1em 0;
		
		text-indent: 1em;
	}
	#featured>div>div {
		margin-left: 5px;
	}
	#featured>div:first-child>div {
		margin-left: 0;
		margin-right: 5px;
	}
	.featured-2col {
		width: 50%;
		float: left;
		
	}
	.featured-1col {
		width: 25%;
		float: left;
	}
	.featured-1row>div {
		height: 195px;
	}
	.featured-bottomrow {
		margin-top: 10px;
	}
	.featured-content>div {
		font-size: 0.9em;
		padding: 5px; background: #FFF; height: 185px; overflow: hidden;
	}
	
	#featured-login>div {
		margin-right: 5px;
		height: 400px;
		position: relative;
		background: url("images/mountains.jpg") center center;
	}
	#loginform {
		position: absolute;
		width: 400px;
		bottom: 15px;
	}
	#loginform label {
		color: #FFF;
		font-weight: 300;
		text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
		display: block;
		font-size: 16px;
		line-height: 24px;
		text-indent: 0;
	}
	#loginform input {
		width: 100%;
		font-size: 20px;
	}
	#loginform input[type=checkbox], #loginform input[type=submit] {
		width: auto;
	}
	#loginform p {
		width: 300px;
		display: block;
		margin: 0 auto;
		margin-bottom: 0.1em;
		text-indent: none;
	}
	
	#featured h2 {
		font-size: 1.5em;
		color: #444;
		text-indent: 0;
	}

	#featured>img {
		float: right;
		margin: 0.5em;
	}
	
	/*Home page footer widgets*/
	#bottom {
		height: 100px;
	}
	#bottom>div>div {
		border-right: 1px solid #ddd;
	}

	#bottom>div {
		width: 33.3333333%;
		position: absolute;
		z-index: 10000;
	}
	#bottom>div:nth-child(2) {
		left: 33.3333333%;
	}
	#bottom>div:nth-child(3) {
		left: 66.6666666%;
	}

	#bottom>div>div {
		margin: 0 0.5em;
		
		height: 100px;
	}
	#bottom>div>div h3 {
		font-size: 1.5em;
	}
	#bottom .textwidget aside {
		display: none;
	}
	#bottom>div:first-child>div {
		margin-left: 0;
	}
	#bottom>div:last-child>div {
		margin-right: 0;
		border-right: 0;
	}

	/*Home page footer widget hovers*/
	#bottom>div,
	#bottom>div>div
	#bottom .textwidget aside {
		transition-duration: 0.5s;
		-moz-transition-duration: 0.5s;
		-webkit-transition-duration: 0.5s;
		
		transition-property: background, height, width, margin, padding, left, border;
		-moz-transition-property: background, height, width, margin, padding, left, border;
		-webkit-transition-property: background, height, width, margin, padding, left, border;
	}
	#bottom>div.selected {
		position: absolute;
		z-index: 10001;
		left: 0;
		width: 100%;
		margin: 0;
	}
	#bottom>div.selected>div {
		border: 1px solid #ddd;
		padding: 8px;
		background-color: rgba(255,255,255,0.95);
		margin: 0;
		height: 500px;
		height: calc(500px + 1.5em);
		height: -moz-calc(500px + 1.5em);
		height: -webkit-calc(500px + 1.5em);
		
	}
	#bottom>div.selected .textwidget aside {
		display: block;
	}
	
/*
 * At medium-small widths, the padding on the side of the layout goes away
 * and the layout starts scaling
 */
@media(max-width: 1100px) {
	#wrapper {
		width: 100%;
		min-width: 400px;
	}
	#featured>img {
		width: 50%;
		max-width: 300px;
	}
	#loginform {
		width: 100%;
	}
}

/*
 * At even smaller widths, things shift to become vertical.
 */
@media(max-width: 635px) {
	.featured-2col {
		float: none;
		width: 100%;
	}
	.featured-1col {
		width: 50%;
	}
	#bottom>div {
		width: 100%;
		position: static !important;
		margin-top: 0 !important;
	}
	#bottom>div>div {
		margin: 0;
		border-bottom: 1px solid #ddd;
		min-height: 100px;
		padding: 8px;
	}
	#bottom>div.selected>div {
		border-width: 0 0 1px 0;
		height: auto;
	}
}